@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins { font-family: 'Poppins', sans-serif; }
.font-inter { font-family: 'Inter', sans-serif; }

.container { max-width: 1200px; }

.bg-emerald-600 { background-color: #059669; }
.text-emerald-600 { color: #059669; }
.hover\:text-emerald-200:hover { color: #a7f3d0; }
